body{
margin-top:50px;
}

.playzone{
	background-repeat: no-repeat;
	width: 912px;
	height: 513px;
	overflow: hidden;
	border-style: ridge;
    border-color: LightSkyBlue ;
	border-width:5px;
}

.box-maingrey {
	background-color:rgb(229,229,229) ;
	width:30%;
	height:60%;
	margin-left:70%;
	margin-top:20px;
	border-style: ridge;
    border-color: LightSkyBlue;
    border-width: 4px;
	}

.box-insidegrey  {
	background-color:rgb(195,195,195) ;
	width:80%;
	height:17%;
	margin-left:10%;
	cursor:pointer;
	}

.box-insidegrey:hover{

	background-color:yellow;
}

.hall{
	margin-left:10%;    
}

.options{
	margin-left:5
}

h2{
	margin-top:10%;
}

h1{
background-color:lightcoral; 
font-size: 250%;
border:2px double;
}
#loon{
	background-repeat: no-repeat;
	background-size: 100%;
	width:37%;
	height:100px;
	position: relative;
	left:-300px;
	padding-top: 28px;
	padding-left: 23px; 
	font-size: 18px;
}
h4{
	color:rgba(255,255,255,.7);
	font-size: 200px;
	text-shadow: 3px 3px rgba(185,185,185,.7);
}
h5{
	color:rgb(255,255,255);
	font-size: 35px;
	text-shadow: 3px 3px rgb(0,0,0);
}
h1,h2,h3,h4{
	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#timerdiv{
	position: absolute;
	left: 50%;
	bottom: 0;
}
.sound{
	margin-left: 90%;
}
#loon2{

	background-repeat: no-repeat;
	background-size: 100%;
	width:37%;
	height:100px;
	position: relative;
	left:-300px;
	padding-top: 28px;
	padding-left: 23px; 
	font-size: 18px;
}
#loon3{

	background-repeat: no-repeat;
	background-size: 100%;
	width:37%;
	height:100px;
	position: relative;
	left:-300px;
	padding-top: 28px;
	padding-left: 23px; 
	font-size: 18px;
	z-index: 2
}