body{
margin-top:50px;
}

.playzone{
	background-image:url("en.jpg");
	background-repeat: no-repeat;
	width: 912px;
	height: 513px;
	overflow: hidden;
	border-style: groove;
    border-color: LightSkyBlue;
    border-width: 5px;
}

.box-maingrey{
	background-color:rgb(229,229,229) ;
	width:28%;
	height:65%;
	margin-left:70%;
	margin-top:20px;
	border-style: ridge;
    border-color: LightSkyBlue;
    border-width: 4px;
}

.box-insidegrey{
	background-color:rgb(195,195,195) ;
	width:75%;
	height:10%;
	margin-left:10%;
	margin-top: 20%;
	cursor:pointer;
	}
.box-insidegrey:hover{

	background-color:yellow;
}

h2{

	margin-top:10%;
}
	
.hall{
	margin-left:10%;  
}


h1{
background-color:lightcoral; 
font-size: 250%;
border:2px double;
}
.tablelink:hover{
	cursor:pointer;
	background-color: rgb(120,120,120);
}
td{
	font-color:white;
}